<?xml version="1.0"?>
<robot name="empty_t">
	<material name="grey">
		<color rgba="1 1 1 0"/>
	</material>

	<link name="empty_obj">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<mass value=".0"/>
			<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
		</inertial>

		<visual>
			<origin rpy="0 0 0" xyz="0 0 -5"/>

			<geometry>
				<box size="1 1 1" />
			</geometry>

			<material name="grey"/>
		</visual>
	</link>
</robot>
